@import "tailwindcss";
@custom-variant dark ( &:where(.dark, .dark *));

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/InterVariable.ttf");
}

body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

.cl-userButtonPopoverCard .cl-popoverBox .cl-userButton-popover {
  font-size: 24px;
}

.cl-userPreview .cl-userPreview__userButton {
  background: red;
}
