@import "tailwindcss";
@custom-variant dark ( &:where(.dark, .dark *));

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/InterVariable.ttf");
}

body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}
